/* *********************************************** */
/* colors */
/* *********************************************** */
/* *********************************************** */
/* Reset global settings */
html {
  min-width: 600px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* *********************************************** */
/* *********************************************** */
/* Basic elements  */
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

/* *********************************************** */
/* *********************************************** */
/* Container */
.container {
  min-width: 320px;
}

/* -------------------------------------------- */
/* *********************************************** */
/* Buttons */
.btn,
input {
  border-radius: 0 !important;
}

/* *********************************************** */
/* *********************************************** */
/* Images  */
.img-about > img {
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.img-about {
  text-align: center;
}

#logo {
  max-width: 15rem;
  height: 40px;
}

/* *********************************************** */
/* *********************************************** */
/* Navbar  */
nav {
  display: flex;
  justify-content: space-between !important;
  padding: 10px !important;
  height: 3.5rem !important;
}

nav > ul > .btn {
  height: 2.5rem;
  margin: 0 0.7rem;
}

.navbar {
  align-items: flex-start;
}

.navbar-brand {
  width: 15rem;
}

/* *********************************************** */
/* Searchbar  */
/* *********************************************** */
/* Accordeon  */
.accordion-button:is(.collapsed) {
  background-color: lightgray;
}

#accordionProfile {
  margin: 0 50px;
}

button > h1 {
  text-align: left;
}

/* *********************************************** */
/* *********************************************** */
/* Footer  */
footer {
  text-align: center;
  padding: 0.7rem;
}

/* *********************************************** */
/* *********************************************** */
/* Grid  */
#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 75px auto 50px;
  grid-template-areas: "n n n n n n n n n n n n" "c c c c c c c c c c c c" "f f f f f f f f f f f f";
}

nav {
  grid-area: n;
}

footer {
  grid-area: f;
}

.container {
  grid-area: c;
}

/* *********************************************** */
/* *********************************************** */
/* scrollbar  */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* *********************************************** */
p > a,
label > a {
  color: blue;
}

.auth {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

form div {
  margin: 1rem auto;
}

#agreement > input {
  margin-inline: 10px;
}

.form-group {
  width: fit-content;
}

input.form-control {
  width: 100%;
}

ul {
  padding: 0 0.5rem;
}

.navbar-right {
  display: flex;
  height: 100%;
}
