html {
	min-width: 600px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	min-width: 320px;
}

h1 {
    text-align: center;
} 

h2{
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}

.img-about > img {
	width: 100%;
	max-width: 600px; 
	padding: 10px;
}
.img-about {
	text-align: center;
}

#accordionProfile {
	margin: 0 50px;
}

nav {
	display: flex;
	justify-content: space-between !important;
	padding: 10px !important;
	height: 4.5rem !important;
}

nav > ul > .btn {
	height: 50px;
	margin: 0 0.7rem;
	padding: 0.7rem;
}

footer {
	text-align: center;
	padding: 0.7rem;
}