* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {}

body {

}

footer {
}

h1 {
    text-align: center;
} 

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}

div[id^="flush-collapse"]  > img {
	width: 600px;
}