/* *********************************************** */
/* Reset global settings */
html {
	min-width: 600px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(252, 203, 6, 0.5);
}
/* *********************************************** */

/* *********************************************** */
/* Basic elements  */
h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}
/* *********************************************** */

/* *********************************************** */
/* Container */
.container {
	min-width: 320px;
}

.container > h1,
.container > h2 {
	color: rgba(74, 33, 123, 1);
}

/* -------------------------------------------- */

/* *********************************************** */
/* Buttons */
.btn {
	background-color: rgba(74, 33, 123, 1);
}

.btn a {
	color: rgba(252, 203, 6, 1);
}
/* *********************************************** */

/* *********************************************** */
/* Images  */

.img-about > img {
	width: 100%;
	max-width: 600px;
	padding: 10px;
}
.img-about {
	text-align: center;
}

#logo {
	max-width: 15rem;
}
/* *********************************************** */

/* *********************************************** */
/* Navbar  */
nav {
	display: flex;
	justify-content: space-between !important;
	padding: 10px !important;
	height: 4.5rem !important;
}

nav > ul > .btn {
	height: 50px;
	margin: 0 0.7rem;
	padding: 0.7rem;
}

.navbar {
	align-items: flex-start;
}

.navbar-brand {
	width: 15rem;
}

.accordion-button:is(.collapsed) {
	background-color: rgba(74, 33, 123, 1);
	color: white;
}

.accordion-button:not(.collapsed) {
	background-color: rgba(252, 203, 6, 1);
	color: rgba(74, 33, 123, 1);
}

#accordionProfile {
	margin: 0 50px;
}

button > h1 {
	text-align: left;
}
/* *********************************************** */

/* *********************************************** */
/* Footer  */
footer {
	text-align: center;
	padding: 0.7rem;
}
/* *********************************************** */
